*{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar ul li a{
    justify-content: space-around;
    transition: all 200ms;
}

.navbar ul li a:hover{
    color: black;
    border-bottom: 1px solid black;
    transform: scale(1,1);
}

.row>*{
    margin-top: 5% !important;
}

.img-fluid{
    width: 100%;
}

.float-end{
    width: 200px;
    height: 200px;
}

.order-md-1{
    animation: to-right 1.5s ease;
}

@keyframes to-right{
    0%{
        transform: translateX(-80px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.order-md-2{
    animation: to-left 1.5s ease;
}

@keyframes to-left {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

/* tercera pagina */

.cont-costos{
    display: flex;
}

.text-right{
    font-weight: 700;
    font-size: 8rem;
    color: #3E6BFD;
    padding: 200px 0 0 100px;
    display: flex;
}

.text-costos{
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-costos p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #3E6BFD;
}

/* cuarta pagina */

.my-16{
    padding-top: 150px;
}

.black-bg:hover{
    background-color: black;
    color: white;
}

/* quinta pagina */

.mt-5{
    padding-top: 100px;
}

form{
    color: #0D6EFD;
}

.gradient{
    font-size: 45px;
    background: -webkit-linear-gradient(#0D6EFD, #FF6766);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}